.tableNavBar {
  display: flex;
  height: 100%;
  width: 96%;
  font-family: "Poppins", sans-serif;
  color: black;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.tableNavBarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  height: 60%;
  padding: 10px;
  gap: 10px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);
}

.uppNavBar h1 {
  width: 17px;
  font-weight: 600;
  font-size: 28px;
}

.downDiv p {
  font-weight: 400;
  font-size: 14px;
  display: flex;
}

.iconUsers {
  text-align: center;
  box-shadow: 0px 2px 10px 0px #7C8DB51F;
  box-sizing: border-box;
  gap: 10px;
  height: 44px;
  width: 44px;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  color: #106F01;
}

.uppNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.divider {
  display: flex;
  width: 62px;
  border: 1px solid #E6EDFF;
  transform: rotate(90deg);
}